/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2024, 11:21:59 AM
    Author     : admin
*/

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container-fluid {
    display: flex;
    height: auto;
    margin: 5% auto;
    width: 60%;
    border: 3px solid #ccc;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.form-panel, .info-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px;
}
.form-panel {
    background-color: white;
}
.info-panel {
    background-color: #ff4757;
    color: white;
}
h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}
.form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
}
.form-group {
    margin-bottom: 20px;
}
.btn, .btn-primary {
    background-color: #ff4757;
    border-color: #ff4757;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.btn-primary:hover, .btn:hover {
    background-color: #e63946;
    border-color: #e63946;
}
.info-panel a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #ff4757;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
}
.info-panel a:hover {
    background-color: #ccc;
    color: #ff4757;
}