<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotpasswordServlet</servlet-name>
        <servlet-class>controller.ForgotpasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmresetcodeServlet</servlet-name>
        <servlet-class>controller.ConfirmresetcodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmpassServlet</servlet-name>
        <servlet-class>controller.ConfirmpassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.blogmanagement.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.profilemanagement.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateprofilecustomerServlet</servlet-name>
        <servlet-class>controller.profilemanagement.UpdateprofilecustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateprofileemployeeServlet</servlet-name>
        <servlet-class>controller.profilemanagement.UpdateprofileemployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateprofilemanagerServlet</servlet-name>
        <servlet-class>controller.profilemanagement.UpdateprofilemanagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateprofiledirectorServlet</servlet-name>
        <servlet-class>controller.profilemanagement.UpdateprofiledirectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>controller.blogmanagement.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipmentServlet</servlet-name>
        <servlet-class>controller.equipmentmanagement.SearchEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <servlet-class>controller.suppliermanagement.SearchSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEquipmentServlet</servlet-name>
        <servlet-class>controller.equipmentmanagement.ManageEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSupplierServlet</servlet-name>
        <servlet-class>controller.suppliermanagement.ManageSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlog</servlet-name>
        <servlet-class>controller.blogmanagement.EditBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.blogmanagement.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>controller.blogmanagement.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>controller.suppliermanagement.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierServlet</servlet-name>
        <servlet-class>controller.suppliermanagement.EditSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>controller.suppliermanagement.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipmentServlet</servlet-name>
        <servlet-class>controller.equipmentmanagement.AddEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEquipmentServlet</servlet-name>
        <servlet-class>controller.equipmentmanagement.EditEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipmentServlet</servlet-name>
        <servlet-class>controller.equipmentmanagement.DeleteEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceServlet</servlet-name>
        <servlet-class>controller.servicemanagement.SearchServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicedetails</servlet-name>
        <servlet-class>controller.servicemanagement.ServiceDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.blogcomment.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditComment</servlet-name>
        <servlet-class>controller.blogcomment.EditComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.blogcomment.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>controller.accountmanagement.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileEmployeeEmptyServlet</servlet-name>
        <servlet-class>controller.employeemanagement.AddProfileEmployeeEmptyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileEmployeeServlet</servlet-name>
        <servlet-class>controller.employeemanagement.AddProfileEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>controller.accountmanagement.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileEmployeeServlet</servlet-name>
        <servlet-class>controller.employeemanagement.EditProfileEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>controller.accountmanagement.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountServlet</servlet-name>
        <servlet-class>controller.accountmanagement.ViewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountServlet</servlet-name>
        <servlet-class>controller.accountmanagement.ViewDetailAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailProfilePTandTakecareServlet</servlet-name>
        <servlet-class>controller.employeemanagement.ViewDetailProfilePTandTakecareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileEmployeePTAndTakecareServlet</servlet-name>
        <servlet-class>controller.employeemanagement.ViewProfileEmployeePTAndTakecareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>controller.servicemanagement.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditService</servlet-name>
        <servlet-class>controller.servicemanagement.EditService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>controller.servicemanagement.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <servlet-class>controller.departmentmanagement.AddDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartmentServlet</servlet-name>
        <servlet-class>controller.departmentmanagement.DeleteDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDepartmentServlet</servlet-name>
        <servlet-class>controller.departmentmanagement.ManageDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDepartmentServlet</servlet-name>
        <servlet-class>controller.departmentmanagement.EditDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDepartmentServlet</servlet-name>
        <servlet-class>controller.departmentmanagement.SearchDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManagerServlet</servlet-name>
        <servlet-class>controller.managermanagement.AddManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageManagerServlet</servlet-name>
        <servlet-class>controller.managermanagement.ManageManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditManagerServlet</servlet-name>
        <servlet-class>controller.managermanagement.EditManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteManagerServlet</servlet-name>
        <servlet-class>controller.managermanagement.DeleteManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManagerServlet</servlet-name>
        <servlet-class>controller.managermanagement.SearchManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountPTAndTakecareServlet</servlet-name>
        <servlet-class>controller.accountmanagement.ViewDetailAccountPTAndTakecareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileEmployeeEmptyAdminServlet</servlet-name>
        <servlet-class>controller.employeemanagement.AddProfileEmployeeEmptyAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterService</servlet-name>
        <servlet-class>controller.servicemanagement.RegisterService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesRegistered</servlet-name>
        <servlet-class>controller.servicemanagement.ServicesRegistered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PtDetail</servlet-name>
        <servlet-class>controller.servicemanagement.PtDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.contact.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactList</servlet-name>
        <servlet-class>controller.contact.ContactList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountAdminServlet</servlet-name>
        <servlet-class>controller.accountmanagement.AddAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountAdminServlet</servlet-name>
        <servlet-class>controller.accountmanagement.EditAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountAdminServlet</servlet-name>
        <servlet-class>controller.accountmanagement.SearchAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountAdminServlet</servlet-name>
        <servlet-class>controller.accountmanagement.ViewAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountAdminServlet</servlet-name>
        <servlet-class>controller.accountmanagement.ViewDetailAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileEmployeeAdminServlet</servlet-name>
        <servlet-class>controller.employeemanagement.AddProfileEmployeeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileEmployeeOfManagerEmptyServlet</servlet-name>
        <servlet-class>controller.employeemanagement.AddProfileEmployeeOfManagerEmptyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileEmployeeOfManagerServlet</servlet-name>
        <servlet-class>controller.employeemanagement.EditProfileEmployeeOfManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailProfileEmployeeServlet</servlet-name>
        <servlet-class>controller.employeemanagement.ViewDetailProfileEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileEmployeeServlet</servlet-name>
        <servlet-class>controller.employeemanagement.ViewProfileEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.reportmanagement.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportForManagerServlet</servlet-name>
        <servlet-class>controller.reportmanagement.ViewReportForManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>controller.reportmanagement.ViewReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReportServlet</servlet-name>
        <servlet-class>controller.reportmanagement.AddReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportServlet</servlet-name>
        <servlet-class>controller.reportmanagement.UpdateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefuseServlet</servlet-name>
        <servlet-class>controller.reportmanagement.RefuseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReportServlet</servlet-name>
        <servlet-class>controller.reportmanagement.SearchReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReportForManagerServlet</servlet-name>
        <servlet-class>controller.reportmanagement.SearchReportForManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>controller.controlmanagement.ControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotpasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmresetcodeServlet</servlet-name>
        <url-pattern>/confirmresetcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmpassServlet</servlet-name>
        <url-pattern>/confirmpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateprofilecustomerServlet</servlet-name>
        <url-pattern>/updateprofilecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateprofileemployeeServlet</servlet-name>
        <url-pattern>/updateprofileemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateprofilemanagerServlet</servlet-name>
        <url-pattern>/updateprofilemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateprofiledirectorServlet</servlet-name>
        <url-pattern>/updateprofiledirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/blogdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipmentServlet</servlet-name>
        <url-pattern>/searchequipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <url-pattern>/searchsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEquipmentServlet</servlet-name>
        <url-pattern>/manageequipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSupplierServlet</servlet-name>
        <url-pattern>/managesupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlog</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/addsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierServlet</servlet-name>
        <url-pattern>/editsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/deletesupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipmentServlet</servlet-name>
        <url-pattern>/addequipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEquipmentServlet</servlet-name>
        <url-pattern>/editequipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipmentServlet</servlet-name>
        <url-pattern>/deleteequipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceServlet</servlet-name>
        <url-pattern>/searchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicedetails</servlet-name>
        <url-pattern>/servicedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditComment</servlet-name>
        <url-pattern>/EditComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileEmployeeEmptyServlet</servlet-name>
        <url-pattern>/addprofileemployeeempty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileEmployeeServlet</servlet-name>
        <url-pattern>/addprofileemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileEmployeeServlet</servlet-name>
        <url-pattern>/editprofileemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/searchaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountServlet</servlet-name>
        <url-pattern>/viewaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountServlet</servlet-name>
        <url-pattern>/viewdetailaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailProfilePTandTakecareServlet</servlet-name>
        <url-pattern>/viewdetailprofileptandtakecare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileEmployeePTAndTakecareServlet</servlet-name>
        <url-pattern>/viewprofileemployeeptandtakecare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditService</servlet-name>
        <url-pattern>/editservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <url-pattern>/adddepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartmentServlet</servlet-name>
        <url-pattern>/deletedepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDepartmentServlet</servlet-name>
        <url-pattern>/managedepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDepartmentServlet</servlet-name>
        <url-pattern>/editdepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDepartmentServlet</servlet-name>
        <url-pattern>/searchdepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManagerServlet</servlet-name>
        <url-pattern>/addmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageManagerServlet</servlet-name>
        <url-pattern>/managemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditManagerServlet</servlet-name>
        <url-pattern>/editmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteManagerServlet</servlet-name>
        <url-pattern>/deletemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManagerServlet</servlet-name>
        <url-pattern>/searchmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountPTAndTakecareServlet</servlet-name>
        <url-pattern>/viewdetailaccountptandtakecare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterService</servlet-name>
        <url-pattern>/registerservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesRegistered</servlet-name>
        <url-pattern>/servicesregistered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PtDetail</servlet-name>
        <url-pattern>/ptdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactList</servlet-name>
        <url-pattern>/contactlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountAdminServlet</servlet-name>
        <url-pattern>/addaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountAdminServlet</servlet-name>
        <url-pattern>/editaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountAdminServlet</servlet-name>
        <url-pattern>/searchaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountAdminServlet</servlet-name>
        <url-pattern>/viewaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountAdminServlet</servlet-name>
        <url-pattern>/viewdetailaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileEmployeeAdminServlet</servlet-name>
        <url-pattern>/addprofileemployeeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileEmployeeOfManagerEmptyServlet</servlet-name>
        <url-pattern>/addprofileemployeeofmanagerempty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileEmployeeOfManagerServlet</servlet-name>
        <url-pattern>/editprofileemployeeofmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailProfileEmployeeServlet</servlet-name>
        <url-pattern>/viewdetailprofileemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileEmployeeServlet</servlet-name>
        <url-pattern>/viewprofileemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/managereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReportServlet</servlet-name>
        <url-pattern>/addreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportServlet</servlet-name>
        <url-pattern>/updatereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefuseServlet</servlet-name>
        <url-pattern>/refuse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReportServlet</servlet-name>
        <url-pattern>/searchreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/viewreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportForManagerServlet</servlet-name>
        <url-pattern>/viewreportformanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReportForManagerServlet</servlet-name>
        <url-pattern>/searchreportformanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
</web-app>
